.table {
    table-layout: fixed;
    width: 95vw;
    margin: 0 auto;
}

#clean-log {
    display: block;
    margin-right: 2.5vw;
    float: right;
}

#history-section a:link, #history-section a:visited, #history-section a:active, #history-section a:hover {
    color: aqua;
}

#history-section td {
    white-space: pre-wrap;
    word-break: break-all;
    cursor: pointer;
}

tbody tr:hover * {
    color: black !important;
}
