#compile-header {
    display: block;
}

span.compile-label {
    display: inline-block;
    font-size: 16px;
    margin-left: 2.5vw;
    margin-top: 1px;
    margin-bottom: 10px;
}

textarea#result {
    height: 60vh;
}

#success, #error {
    display: none;
}
